<!DOCTYPE html>
<html>
    <head>
        <link href="@routes.Assets.at("stylesheets/bootstrap.min.css")" rel="stylesheet">
        <link href="@routes.Assets.at("stylesheets/font-awesome.min.css")" rel="stylesheet">
        <link href="@routes.Assets.at("stylesheets/form-all.css")" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <!--<span style="font-size:1.5em;" class="glyphicon glyphicon-trash"></span>-->
            <form class="form-all">
                <label for="inputUsername" class="sr-only">Username</label>
                <input type="username" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
                <br/>
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                <br/>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                <div class="checkbox" style="text-align:center;">
                    <a href="@routes.SignUpController.signUpGet()">New here? Create an account.</a>
                </div>
            </form>
        </div>
    </body>
</html>