@(userForm: Form[UserLoginData])(implicit messages: Messages)

<!DOCTYPE html>
<html>
    <head>
        <link href="@routes.Assets.at("stylesheets/bootstrap.min.css")" rel="stylesheet">
        <link href="@routes.Assets.at("stylesheets/font-awesome.min.css")" rel="stylesheet">
        <link href="@routes.Assets.at("stylesheets/form-all.css")" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            @if(userForm.hasGlobalErrors) {
                <ul>
                @for(error <- userForm.globalErrors) {
                    <li>@error.message</li>
                }
                </ul>
            }
        @helper.form(action = website.routes.LoginController.loginPost(), 'class -> "form-all") {
            @helper.inputText(userForm("username"), 'id -> "inputUsername", 'class -> "form-control", 'placeholder -> "Username", '_label -> "", '_showConstraints -> false)
            @helper.inputText(userForm("password"), 'type -> "password", 'id -> "inputPassword", 'class -> "form-control", 'placeholder -> "Password", '_label -> "", '_showConstraints -> false)
            <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
            <div class="checkbox" style="text-align : center ;">
                <a href="@website.routes.RegisterController.registerGet()">New here? Create an account.</a>
            </div>
        }
        </div>
    </body>
</html>